* {
    box-sizing: border-box;
    margin: 1px;
}
#bai1 {
    border: 1px solid rgb(214, 178, 184);
    margin: 0 auto;
    width: 100%;
    box-shadow: 2px -2px 1px palevioletred;
}

a#example {
    color: #A82827;
    text-shadow: 10px 20px 5px pink;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

#header {
    color: #852C35;
    text-shadow: 20px 20px 20px #89454c;
    text-align: center;
    Padding: 30px
}

#st {
    background-color: #F5F4DD;
    color: #922D30;
    font-size: 20px;
}

#link {
    margin-left: 40px;
}

#link a {
    text-decoration: none;
    color: #542384
}

a#back {
    color: red;
    font-weight: bold;
}

#de_top {
    background-color: #F5F4DD;
    color: #922D30;
    font-size: 20px;
}

a#ch {
    color: red;
}

#hsck {
    text-transform: uppercase;
    color: #E7AF87;
}

a#starters {
    color: #893b2f;
    background-color: #f5f5db;
    border-top: 0px solid grey;
    border-bottom: 0px solid grey;
    padding: 10px;
}